/**/
div.c9 {
    font-weight: bold
    }
p.c8 {
    font-style: italic
    }
p.c7 {
    font-weight: bold
    }
td.c6 {
    text-align: left
    }
div.c5 {
    width: 60%
    }
img.c4 {
    width: 100%
    }
h3.c3 {
    font-style: italic
    }
table.c2 {
    background-color: #ccf
    }
td.c1 {
    width: 25%;
    vertical-align: top
    }
/**/